.button {
  width: 171px;
  height: 42px;
  cursor: pointer;
  border-radius: 50px;
  margin: 32px 0 0 0;
  border: 1px solid #fff;
}

.link-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}


