header
  style
    include styles/verify-email.scss
  body
    include includes/header

      table.content-wrapper
        tr
          td
            center.title Verify your email
            p.subTitle You will need to verify your email to complete registration.

            center
              table.button
                tr
                  td
                    a.link-button(href='{{VERIFY_LINK}}' target='_blank')
                      center.button-text VERIFY NOW

        include includes/footer

