
header
  style
    include ../styles/footer.scss
  body
      tr.footer-wrapper
        td.social-networks-wrapper
          center
            ul.social-networks-link
              li
                a.link-button(href='{{FACEBOOK_LINK}}' target='_blank')
                  img.social-network-link(src='./images/facebook-logo.svg' alt='js logo' width='200')
              li
                a.link-button(href='{{LINKEDIN_LINK}}' target='_blank')
                  img.social-network-link(src='./images/linkedin-logo.svg' alt='js logo' width='200')
              li
                a.link-button(href='{{INSTAGRAM_LINK}}' target='_blank')
                  img.social-network-link(src='./images/instagram-logo.svg' alt='js logo' width='200')
              li
                a.link-button(href='{{TWITTER_LINK}}' target='_blank')
                  img.social-network-link(src='./images/twitter.svg' alt='js logo' width='200')
              li
                a.link-button(href='{{YOUTUBE_LINK}}' target='_blank')
                  img.social-network-link(src='./images/youtube-logo.svg' alt='js logo' width='200')
              li
                a.link-button(href='{{EMAIL_LINK}}' target='_blank')
                  img.social-network-link(src='./images/email.svg' alt='js logo' width='200')
            ul
              a.footer-description(href='{{YEAR_LINK}}' target='_blank') 2021
              a.footer-description(href='{{SITE_LINK}}' target='_blank') sendkoala.com
              a.footer-description-last(href='{{SUBSCRIPTION_LINK}}' target='_blank') Manage subscriptions

