header
  style
    include ../styles/header.scss
  body
    center
      table.header-wrapper
        tr
          td
            center
              img.logo(src='./images/send-koala-logo.svg' alt='js logo' width='200')
        tr
          td.big-rectangle
          td.small-rectangle-first
          td.small-rectangle-second


